body {
  background-color: rgb(217, 241, 250);
}

.favicon{
  width: 16px;
  height: 16px;
}

.logo{
  width: 100px;
}

.logoContainer{
  align-self: center;
}


.cart{
  width: 50px;
}

.headl{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: rgb(174, 228, 228);
}

.lists {
  display: flex;
  list-style-type: none;
}

.linkto{
  text-decoration: none;
  color: black;
}

.lists > li{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  align-self: center;
  
  
}

.lists > li:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.container{
  position: static;
  align-self: center;
  background-color: rgb(230, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin: 20px;
  text-align: center;
  z-index: 1;
}

.container:hover {
  box-shadow: 10px 10px 20px rgb(32, 32, 32);
  cursor: pointer;
  transform: scale(1.01);
  
}

#h2t{
  height: 54px;
}

#h4t{
  height: 36px;
}

.foodImg{
  width: 250px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.details > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  list-style-type: none;
  
}

.search{
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 8px;
  width: 300px;
  border-radius: 15px;
}
.search:hover{
  background-color: rgb(174, 228, 228);
}

.button{
  padding: 8px;
  border-radius: 15px;
  margin-right: 5px;
}

.button:hover{
  background-color: rgb(174, 228, 228);
  transform: scale(1.02);
}

.filterbtn{
  padding: 8px;
  border-radius: 15px;
}
.filterbtn:hover{
  background-color: rgb(174, 228, 228);
  transform: scale(1.02);
}

.cardContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer{
  text-align: center;
  background-color:rgb(147, 177, 177);
  padding: 20px; ;
  
}

.footer-links {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the links */
}

.footer-links a {
  color: #346bb4;
  text-decoration: none;
  font-size: 16px; /* Adjust the size if needed */
}

.footer-links a:hover {
  text-decoration: underline; /* Optional: Underline the links on hover */
  color: #ff6347; 
}


.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px; /* Adds space between icons */
}

.social-media a {
  color: #346bb4;
  font-size: 24px; /* Adjust the size of the icons */
  text-decoration: none;
}

.social-media a:hover {
  color: #ff6347; /* Optional: Change color on hover */
}

.locimg{
  width: 100px;
  height: 100px;
}


.shimmer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.shimmerCard{
  border: 1px solid black;
  position: static;
  align-self: center;
  background-color: rgb(176, 180, 180);
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin: 20px;
  text-align: center;

}

.pic{
  background-color: rgb(218, 228, 238);
  width: 250px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login{
  height:40px;
  width: 80px;
  background-color: rgb(212, 241, 241);
  border: 1px solid rgb(133, 156, 156);
  border-radius: 10px;

}